body {
    height: 70vh;
    background-image:url('/images/title.JPG');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Rye', serif;
    font-size: 5rem;
    color: brown;
}

button {
    font-size: 2rem;
    background-color:transparent;
}

#container {
    margin-top: 300px;
    text-align: center;
}